<head>
    {% load static %}
    <title>Spotter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    
    {% comment %} navbar for login register {% endcomment %}
    <nav>
        <h1>Spotter</h1>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Sign In</button></a>
    </nav>
    {% for i in posts %}
        <div class="card text-center">
            <div class="card-header">
                {{i.group}}
                {% comment %} This might be an id so we may need to chagne this {% endcomment %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <a href="/{{i}}" class="btn btn-primary">See Post</a>
            </div>
            <div class="card-footer text-muted">
                time, author
            </div>
        </div>
        {% comment %} <h1>{{i.content idk}}</h1>  {% endcomment %}
    {% endfor %}
    {% comment %} <h1>
        <div id="clock" message="Clock component generated in HTML."></div>
    </h1>

    <h2>
        <div class="post" title="Testing post"
            content="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis."
            author="somebody" created="1/1/11"></div>
    </h2> {% endcomment %}
    {% comment %} <div id = "root"></div>
    <div id="like_button_container"></div> {% endcomment %}
</body <!-- Load JavaScript libraries -->
{% comment %} <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script> {% endcomment %}
<!-- JSX support-->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
    integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}

<!-- Load React components -->
{% comment %} <script type="text/babel" src="{% static 'js/Landing.js' %}"></script> {% endcomment %}
{% comment %} <script type="text/babel" src="{% static 'js/TestButton.js' %}"></script>
<script type="text/babel" src="{% static 'js/TestEventAndProps.js' %}"></script>
<script type="text/babel" src="{% static 'js/TestRepeats.js' %}"></script> {% endcomment %}

<!-- Load Bootstrap dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
    integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>