<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form action="/register" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username_input">

    <label for="password">Password</label>
    <input type="password" name="password_input">

    <input type="submit" value="OK">
</form>